@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
    --black: #000000;
    --grey:	#1C1C1C;
    --white: #F2F2F2;
    --red-100: #F20519;
    --red-200:#d11222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

header .menu ul{
    display: flex;
    gap: 100px;
    margin-right: 30px;
}

header ul li{
    list-style: none;
    transition: 0.3s all;
}

header ul a{
    color: var(--white);
    text-decoration: none;
    font-size: 0.8em;
}

header .menu li:hover{
    transform: translateY(-4px);
}


.main-row{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
    width: 45%;
    height: 100%;
}

.content h1{
    text-transform: uppercase;
    line-height: 60px;
    font-size: 1.7em;
    font-weight: 800;
    margin-bottom: 20px;
}

.content h1 span{
    color: var(--red-100);
    font-size: 3em;
    font-weight: 800;
}

.content p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.content button{
    background-color: var(--red-100);
    color: var(--white);
    border: none;
    width: 170px;
    height: 34px;
    font-size: 0.8em;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s all;
    cursor: pointer;
}

.content button:hover{
    background-color: var(--red-200);
    transform: translateY(-4px);
}


.circle{
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: var(--red-200);
    clip-path: circle(50% at 50% 100%);
    bottom: 0;
    right: -300px;
    z-index: 1;
}

.box-img-coca{
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    width: 640px;
}

.img-coca{
    position: relative;
    z-index: 2;
    bottom: -25px;
}

.img1{
    right: -40px;
    transform: rotateZ(-20deg);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 86px 100%, 0 403px);
    shape-outside: circle(50% at 30%); */
}

.img2{
    right: -80px;
    transform: rotateZ(5deg);
  /*   clip-path: polygon(0 0, 100% 0, 100% 100%, 102% 89%, 0 233px); */
}

.img3{
    right: -85px;
    transform: rotateZ(10deg);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 102% 213px, 0 237px); */
}

.img4{
    right: -95px;
    transform: rotateZ(-20deg);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 102% 335px, 0 287px); */
}

.social-media{
    padding-left: 60px;
    position: fixed;
    bottom: 50px;
    left: 70px;
    z-index: 200;
}

.social-media img{
    background-color: var(--grey);
    padding: 8px;
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.3s all;
}

.social-media img:hover{
    transform: translateY(-5px);
    background-color: var(--red-200);
}

@media (max-width: 1100px){
    header .menu ul{
        gap: 60px;
    }

    .content{
        width: 50%;
        align-items: start;
    }

    .circle{
        width: 700px;
        height: 700px;
        right: -200px;
    }

    .img-coca{
        width: 100px;
    }

    .img1{
        right: 380px;
    }
    
    .img2{
        right: 240px;
    }
    
    .img3{
        right: 130px;
    }
}

@media (max-width: 900px){
    body{
        overflow-y: scroll;
    }
    header .menu ul{
        gap: 40px;
    }

    .main-row{
        flex-direction: column;
        align-items: start;
    }

    .content{
        width: 70%;
        z-index: 100;
    }

    .circle{
        width: 600px;
        height: 600px;
        bottom: -300px;
        right: -200px;
    }

    .img-coca{
        bottom: -300px;
    }

    

}