@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
    --black: #000000;
    --grey:	#1C1C1C;
    --white: #F2F2F2;
    --red-100: #F20519;
    --red-200:#d11222;
    --red-300:#810c15;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

header .menu ul{
    display: flex;
    gap: 100px;
    margin-right: 30px;
}

header ul li, .navbar ul li{
    list-style: none;
    transition: 0.3s all;
}

header ul a, .navbar ul a{
    color: var(--white);
    text-decoration: none;
    font-size: 0.8em;
}

header .menu li:hover, .navbar ul li:hover{
    transform: translateY(-4px);
}

header .menu-mobile{
    display: none;
}


.main-row{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;
    width: 45%;
    height: 100%;
}

.content h1{
    text-transform: uppercase;
    line-height: 60px;
    font-size: 1.7em;
    font-weight: 800;
    margin-bottom: 20px;
}

.content h1 span{
    color: var(--red-100);
    font-size: 3em;
    font-weight: 800;
}

.content p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.content button{
    background-color: var(--red-100);
    color: var(--white);
    border: none;
    width: 170px;
    height: 34px;
    font-size: 0.8em;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s all;
    cursor: pointer;
}

.content button:hover{
    background-color: var(--red-200);
    transform: translateY(-4px);
}


.circle{
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: var(--red-200);
    clip-path: circle(50% at 50% 100%);
    bottom: 0;
    right: -300px;
    z-index: 1;
}

.box-img-coca{
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    width: 640px;
}

.img-coca{
    position: relative;
    z-index: 2;
    bottom: -25px;
}

.img1{
    right: -40px;
    transform: rotateZ(-20deg);
}

.img2{
    right: -80px;
    transform: rotateZ(5deg);
 }

.img3{
    right: -85px;
    transform: rotateZ(10deg);
}

.img4{
    right: -95px;
    transform: rotateZ(-20deg);
}

.social-media{
    padding-left: 60px;
    position: fixed;
    bottom: 50px;
    left: 70px;
    z-index: 200;
}

.social-media img{
    background-color: var(--grey);
    padding: 8px;
    border-radius: 50%;
    margin-right: 20px;
    transition: 0.3s all;
}

.social-media img:hover{
    transform: translateY(-5px);
    background-color: var(--red-200);
}

@media (max-width: 1100px){
    header .menu ul{
        gap: 60px;
    }

    .content{
        width: 50%;
        align-items: start;
    }

    .circle{
        width: 700px;
        height: 700px;
        right: -200px;
    }

    .img-coca{
        width: 100px;
    }

    .img1{
        right: -160px;
    }
    
    .img2{
        right: -197px;
    }
    
    .img3{
        right: -200px;
    }
    .img4{
        right: -210px;
    }
}

@media (max-width: 950px){
    header .menu{
        display: none;
    }

    header .menu-mobile{
        position: fixed;
        right: 30px;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .menu-icon{
        cursor: pointer;
        width: fit-content;
        height: 25px;
        padding: 1px;
        z-index: 13;
    }
    
    .menu-icon:hover .bar{
        background-color: var(--red-300);
        transition: 0.5s;
    }

    .bar{
        width: 25px;
        height: 3px;
        margin: 4px;
        background-color: #fff;
        border-radius: 20px;
    }
    
    .show #bar1{
        position: relative;
        top: 6px;
        transform: rotate(-45deg);
    }

    .show #bar2 {
        opacity: 0;
        transition: 0.2s;
    }

    .show #bar3{
        position: relative;
        top: -8px;
        transform: rotate(45deg);
    }

    .menu-circle{
        background-color: var(--red-100);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        right: -140px;
        z-index: 12;
        transition: 0.3s;
    }

    .show .menu-circle{
        width: 300px;
        height: 300px;
    }

    .navbar ul{
        display: none;
    }

    .show ul{
        display: block;
        position: fixed;
        top: 60px;
        right: 35px;
        text-align: right;
        padding-top: 10px;
        
    }

    .show li{
        font-size: 18px;
    }

    .main-row{
        flex-direction: column;
    }

    .content{
        width: 70%;
    }

    .circle{
        width: 650px;
        height: 650px;
        bottom: -350px;
        right: -200px;
    }

    .box-img-coca{
        width: 700px;
        bottom: -350px;
        right: -200px;
    }

    .img-coca{
        bottom: -20px;
    }

    .img1{
        right: -40px;
    }
    
    .img2{
        right: -68px;
    }
    
    .img3{
        right: -70px;
    }

    .img4{
        right: -80px;
    }

    .social-media{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 150px;
        border-radius: 30px;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        bottom: 30px;
    }
    
    .social-media img{
        margin-right: 0;
    }
}

@media (max-width: 650px){

}